@font-face {
  font-family: 'Brown-Bold';
  src: url(./fonts/Brown-Bold.otf) format('otf');
}

@font-face {
  font-family: 'Brown-Regular';
  src: url(./fonts/Brown-Regular.otf) format('otf');
}

@font-face {
  font-family: 'Brown-Bold-Italic';
  src: url(./fonts/Brown-Bold-Italic.otf) format('otf');
}

* {
  margin:0;
  padding:0;
  box-sizing:border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Brown';
}

li {
  list-style-type: none;
}

.container {
  width: 100%;
}

.nav-container {

}

.nav-list {
  margin-left: 20px;
  display: flex;
  justify-content:flex-start;
  margin-bottom:20px;
}

.nav-list a {
  text-decoration: none;
  color: black;
}

.nav-list li {
  margin-top:20px;
  margin-left: 20px;
  margin-bottom: 20px;
  font-size: 2em;
  border-bottom: solid thick white;
}

.nav-list li:hover {
  cursor: pointer;
}

.active {
  border-bottom: solid thick;
}

.projectMasonry {
  column-count: 3;
  -moz-column-count: 3;
  -webkit-column-count: 3;
  column-gap: 20px;
  -moz-column-gap: 20px;
  -webkit-column-gap: 20px;
  margin: 20px;
  padding: 20px;
}

.quad {
  width: 100%;
  margin-bottom: 20px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  border: solid 20px black;
  display: inline-block;
  transition: 0.3s border-color;
}

.quad:hover {
  border-color: #FFC300;
}

.bigQuad {
  width: 100%;
}

.littleQuad {
  width: 100%;
}

.quadContent {
  text-align: center;
  height: 100%;
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
  transition: 0.3s background, 0.3s -webkit-filter;
}

.quadContent:hover {
  background: RGB(48, 149, 151);
  -webkit-filter: grayscale(0%); /* Safari 6.0 - 9.0 */
  filter: grayscale(0%);
  cursor: pointer;
}

.quadContent img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  overflow: hidden;
}

.quadDetailsContainer {
  width: 100%;
  margin:0;
  background-color: white;
  position: absolute;
  top:0;
  left: 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: solid 20px #FFC300;
}

.quadDetailsContentBlock {
  width: 90%;
  height:200px;
  margin:20px;
  background-color: #FFC300;
  opacity: 1;
}

.anim-appear {
  opacity: 0.5;
}

.anim-appear.anim-appear-active{
  opacity: 0.5;
  transition: opacity 0.5s ease-in;
}

.anim-leave {
  opacity: 0.5;
}

.anim2-appear {
  opacity: 0;
  left: -100%;
  top:-100%;
}

.anim2-appear.anim2-appear-active{
  opacity: 1;
  transition: opacity 0.2s ease-in, left 0.8s cubic-bezier(.75,.19,.83,.67);
  left: 0px;
  top: 0px;
}

// mediaqueries

@media only screen and (min-width: 1001px) and (max-width: 1002px) {
  .projectMasonry {
      -moz-column-count: 5;
      -webkit-column-count: 5;
      column-count: 5;
  }
}

@media only screen and (min-width: 650px) and (max-width: 1000px) {
  .projectMasonry {
      -moz-column-count: 2;
      -webkit-column-count: 2;
      column-count: 2;
  }
}

@media only screen and (max-width: 649px) {
  .projectMasonry {
      -moz-column-count: 1;
      -webkit-column-count: 1;
      column-count: 1;
  }
}
